---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </nav>

    <h1>About me</h1>
    <h2>... and my personal website!</h2>

    <p>
      I'm currently working on this website where I'll be showing my recent
      projects as well as my blog posts.
    </p>

    <p>I'll update this as soon as I can. Can't wait!</p>
  </body>
</html>
