---
import MainLayout from "../layouts/Base.astro";
---

<MainLayout title="uzzi | about">
  <h1>About me</h1>
  <h2>... and my personal website!</h2>

  <p>
    I'm currently working on this website where I'll be showing my recent
    projects as well as my blog posts.
  </p>

  <p>I'll update this as soon as I can. Can't wait!</p>
</MainLayout>
