<section
  class="w-11/12 md:w-full md:grid md:grid-cols-2 md:pt-4 md:gap-4 md:items-center md:py-6 mb-4 mx-auto"
>
  <div class="flex justify-center py-6 md:py-0 md:justify-end md:pr-12">
    <div
      class="h-2/5 w-2/5 rounded-3xl overflow-hidden md:h-3/5 md:w-3/5 md:rounded-full shadow-xl"
    >
      <img src="/img/me.jpg" class="" />
    </div>
  </div>
  <div class="text-center md:text-left md:mr-10 lg:mr-24">
    <h1 class="text-6xl mb-4">
      Hello, I'm <span class="font-bold">Uzzi!</span>
    </h1>
    <h2 class="text-3xl italic mb-8">Web Developer</h2>
    <p class="text-lg text-pretty mb-4">
      I love building stuff using technologies I stumble upon on the internet.
      May it be dynamic web applications or plain static pages, as long as it's
      not some reality-bending work...
    </p>
    <button
      class="bg-blue-500 text-white text-lg px-4 py-2 rounded-lg md:bg-blue-300 md:hover:bg-blue-500 md:hover:shadow-lg ease-in-out duration-150"
      >Count Me In!</button
    >
  </div>
</section>
<hr />
