---
import ProjectCard from "./ProjectCard";
const allProjects = await Astro.glob("../contents/projects/*.md");
---

<section class="flex flex-col items-center pt-6 mx-auto mb-16">
  <div class="mb-8">
    <h2 class="text-4xl font-bold">Recent Projects</h2>
  </div>
  <div class="md:grid md:grid-cols-2 space-y-12 md:space-y-0 md:gap-4 lg:px-12">
    {
      allProjects.map((project) => (
        <ProjectCard projectData={project.frontmatter} />
      ))
    }
  </div>
</section>
