---
import TechCard from "./TechCard";
const allTechs = await Astro.glob("../contents/techstack/*.md");
---

<section
  class="flex flex-col items-center pt-6 w-11/12 md:w-full max-w-[80vw] mx-auto mb-16"
>
  <div class="mb-12"><h2 class="text-4xl font-bold">My Tech Stack</h2></div>
  <ul
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 md:gap-12 lg:gap-x-16"
  >
    {
      allTechs.map((tech) => (
        <li>
          <TechCard cardData={tech.frontmatter} />{" "}
        </li>
      ))
    }
  </ul>
</section>
