---
const { title } = Astro.props;

import Nav from "../components/Nav";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta title={title} />
    <title>{title}</title>
    <link rel="stylesheet" href="public/css/highlight.css" />
  </head>
  <body class="high">
    <Nav />
    <main class="px-4 md:ml-12">
      <slot />
    </main>
  </body>
</html>
